{% extends "accounts/main.html" %}
{% load static %}

{% block content %}
<br>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">

                <form action="" method="post">
                    {% csrf_token %}
                    <h5>Are you sure to delete this item: {{ item.product }} - {{ item.customer.name }}</h5>
                    <a class="btn btn-warning" href="{% url 'home' %}">Cancel</a>
                    <input class='btn btn-danger' type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>

{% endblock content %}